# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# Rust crate
tool/libclipboard/

# Dynamic library
*.dll
*.dylib
*.so

# Test build file
dart_clipboard_test
